* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
  scrollbar-width: 0px;
  min-height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 0px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container main {
  display: block;
  flex: 1;
  padding: 2px 20px;
}


.add-popup-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  z-index: 1000;
}


/*custom css & Bootstrap class--------*/
:root {
  --violet-color: #4c00b0;
  --violet-dark-color: #3c0485;
  --seller-nav-color: #660066;
  --admin-nav-color: #245731;
  --light-green-color: #b0e000;
}

/* purple custom class---------------------*/
.text-purple {
  color: #800080;
}

.bg-purple {
  background-color: #800080;
}

.btn-purple {
  background-color: #800080;
  border: 1px solid #800080;
  color: #fff;
  border-radius: 5px;

  &:hover {
    background-color: var(--seller-nav-color);
    border-color: var(--seller-nav-color);
    color: #fff;
  }
}


/*custom violet class--------------------------*/

.btn-outline-violet {
  color: #530bee;
  border: 1px solid #530bee;
  background-color: transparent;
}

.btn-outline-violet:hover,
.btn-outline-violet:focus {
  color: #fff;
  background-color: #530bee;
  border-color: #530bee
}

.btn-violet {
  background-color: var(--violet-color);
  border: 1px solid var(--violet-color);
  color: #fff;
  border-radius: 5px;

  &:hover {
    background-color: var(--violet-dark-color);
    border-color: var(--violet-dark-color);
    color: #fff;
  }

}

.text-violet {
  color: #530bee;
}

.bg-violet {
  background-color: var(--violet-color);
}


/* custom styles---------------------------------*/

.fs-7 {
  font-size: 0.860rem;
}

.bullet-list li {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}