.auth-wrapper {
  min-height: 500px;
}

.auth-left {
  background: linear-gradient(135deg, #7ae983, #afe2b1, #75f179);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.auth-left-content {
  max-width: 350px;
}

.auth-left h3 {
  font-weight: 600;
  margin-bottom: 15px;
}

.auth-left p {
  font-size: 14px;
  opacity: 0.85;
}


.form-control,
.form-select {
  border-radius: 8px;
  padding: 10px;
}


.register-btn,.login-btn,.send-otp-btn,.verify-otp-btn {
  border-radius: 8px;
  padding: 10px;
  font-weight: 500;
   
}
