.seller-navbar {
  background-color: var(--seller-nav-color);
}

.seller-content {
  padding: 15px;
  background-color: #f1f1f1;
  min-height: 100vh;
}


.sidebar {
  position: fixed;
  top: 48px;
  left: -250px;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  z-index: 1000;
  overflow-y: auto;
}


.sidebar.open {
  left: 0;
}


.overlay {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}



@media (min-width: 992px) {
  .sidebar {
    left: 0;
  }

  .seller-content {
    margin-left: 250px;
    padding: 20px;
  }
}